# Python
__pycache__/
*.py[cod]
*.pyc
*.so
.Python
env/
venv/
ENV/
.venv

# Django
*.log
db.sqlite3
*.sqlite3
/media/
/static/
*.pot

# React (глобально)
node_modules/
build/
.env
.cache/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Backup files
*.backup
*.bak

# Coverage
.coverage
.coverage.*
htmlcov/
.tox/